name: Run unit tests on uv updates

on:
  schedule:
    - cron: "42 4 * * 1"
  workflow_dispatch:
    inputs:
      manual-version:
        description: "Manually input uv version"
        required: false
        default: ""

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  check-uv-version:
    runs-on: ubuntu-latest
    outputs:
      latest-version: ${{ steps.get-latest-release.outputs.latest-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get latest uv release
        id: get-latest-release
        run: |
          if [[ -n "${{ github.event.inputs.manual-version }}" ]]; then
            LATEST_VERSION="${{ github.event.inputs.manual-version }}"
          else
            LATEST_VERSION=$(curl https://api.github.com/repos/astral-sh/uv/releases/latest -s | jq .name -r)
          fi
          echo "latest-version=$LATEST_VERSION" >> $GITHUB_OUTPUT


  unit-tests:
    needs: check-uv-version
    runs-on: ubuntu-latest
    outputs:
      tests-passed: ${{ steps.unit-tests.outputs.test-output == 'success' }}
      tests-logs: ${{ steps.unit-tests.outputs.test-logs}}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        uv-version:
          - ${{ needs.check-uv-version.outputs.latest-version }}

        python-version:
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v4

      - name: Unit Tests
        id: unit-tests
        uses: ./.github/actions/unit_tests/
        with:
          uv-version: ${{ matrix.uv-version }}
          python-version: ${{ matrix.python-version }}
        env:
          CI-on-uv-release: true


  create-issue:
    needs: [check-uv-version, unit-tests]
    if: needs.unit-tests.outputs.tests-passed == 'false'
    runs-on: ubuntu-latest
    env:
      issue-title: "uv ${{ needs.check-uv-version.outputs.latest-version }} causes tests failures"

    steps:
      - name: Download Test Results
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.unit-tests.outputs.tests-logs }}

      - name: Create issue for failing tests
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: ${{ env.issue-title }}
          content-filepath: pytest_output.txt
          labels: bug, dependency-update
          assignees: ${{github.repository_owner}}
