name: Unit Tests Workflow

on: [push]

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          uv-version:
            - 0.7.1
            - 0.9.17

          python-version:
            - 3.11
            - 3.12
            - 3.13

    steps:
      - uses: actions/checkout@v4

      - name: Unit Tests
        id: unit-tests
        uses: ./.github/actions/unit_tests/
        with:
          uv-version: ${{ matrix.uv-version }}
          python-version: ${{ matrix.python-version }}
